<section class="hero">
    <% if @twitch.is_live %>
        <iframe class="live-stream video" src="http://www.twitch.tv/crank/embed"></iframe>
    <% elsif !@youtube.nil? %>
        <div id="hero-yt-player" class="highlight video" data-video-url="<%= @youtube.get_url.gsub(/\?version/, '?wmode=transparent&loop=1&version') %>" class="bg-stream yt"></div>
    <% end %>

    <%= image_tag "mask-bottom-left.png", :class => 'mask-bottom-left' %>
    <%= image_tag "mask-bottom-right.png", :class => 'mask-bottom-right' %>

    <div class="player-intro">
        <%= image_tag "hero-crank.png", :class => 'crank' %>
        <h1>Jaewon 'CranK' Choi</h1>
        <p>Streaming on the KR/NA/EU ladder</p>
    </div>

    <% if @twitch.is_live %>
        <div class="status live">
            <em><a href="/stream/">Live</a></em>
        </div>
    <% elsif !@youtube.nil? %>
        <div class="status highlight">
            <div class="header">Video highlight</div>
            <h3><a class="goto" href="<%= @youtube.get_url %>"><%= @youtube.title %></a>&nbsp;<a class="cta fullscreen" href="#" data-mfp-src="<%= @youtube.url %>"><i class="fa fa-expand"></i></a></h3>
            <div class="footer"><a class="cta highlights" href="/videohighlights/">View all <i class="fa fa-arrow-right"></i></a></div>
        </div>
    <% end %>
</section>

<%= render "sponsors" %>

<section class="donate">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="donations">
                    <h3>Donations</h3>
                    <p>Subscribe to my <a href="http://www.twitch.tv/crank/">Twitch channel</a> or consider making a donation directly to <a href="https://www.twitchalerts.com/tip/crank">me</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="tweet-list">
    <div class="container">
        <header>
            <a class="cta" href="https://twitter.com/axcrank"><i class="fa fa-twitter"></i></a>
            <h2>Tweets</h2>
        </header>
        <% if @tweets.length > 0 %>
            <% @tweets.each_with_index do |tweet, index| %>

                <% if index % 4 === 0 %>
                    <div class="row">
                <% end %>

                    <div class="col-md-3">
                        <article><%= auto_link(tweet.parsed_text) %></article>
                    </div>

                <% if (index+1) % 4 === 0 || index+1 >= @tweets.length  %>
                    </div>
                <% end %>
            <% end %>
        <% else %>
           <p>No tweets could be loaded.</p>
        <% end %>
    </div>
</section>

<section class="achievements">
    <div class="container">
        <header>
            <h2>Achievements</h2>
        </header>
        <div class="row">
            <div class="col first col-sm-4">
                <article>
                    <h3>2015</h3>
                    <ul>
                        <li>3rd Favorite StarCraft II Individual Streamer in 2014</li>
                    </ul>

                    <h3>2014</h3>
                    <ul>
                        <li>2014 WCS America S1 - RO16</li>
                        <li>2014 WCS America S2 - RO32</li>
                        <li>2014 WCS America S3 - Challenger</li>
                        <li>Acer Team Story Cup S3 - 4th</li>
                    </ul>
                </article>
            </div>
            <div class="col col-sm-4">
                <article>
                    <h3>2013</h3>
                    <ul>
                        <li>2013 WCS America S1 - RO8</li>
                        <li>2013 WCS America S2 - RO16</li>
                        <li>2013 WCS America S3 - RO16</li>
                        <li>2013 GSTL S1 - 3rd</li>
                        <li>2013 GSTL S2 - 1st</li>
                        <li>2013 GSTL S2 All Star - Best coach</li>
                        <li>2013 GSTL S2 - Best coach</li>
                        <li>Acer Team Story Cup S2 - 2nd</li>
                    </ul>
                </article>
            </div>
            <div class="col last col-sm-4">
                <article>
                    <h3>2012</h3>
                    <ul>
                        <li>MLG Pro Circuit 2012 – Summer Championship - Breakout Player</li>
                        <li>Lone Star Clash S3 - 3rd</li>
                        <li>IPL5 Amateur Championship - 1st</li>
                    </ul>
                </article>
            </div>
        </div>
        <div class="row cta-wrapper">
            <div class="col-md-12">
                <a href="http://wiki.teamliquid.net/starcraft2/CranK" class="cta">View Liquipedia page <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>

<section class="equipment">
    <div class="container">
        <header>
            <div class="row">
                <div class="col-md-8 col-md-offset-4">
                    <h2>Hardware</h2>
                </div>
            </div>
        </header>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <article>
                    <ul>
                        <li>Mouse : Logitech G9X</li>
                        <li>Keyboard : WASD Custom Keyboard (Cherry MX Brown Switches)</li>
                        <li>Memory : 16GB of RAM</li>
                        <li>CPU : i7-4790k @ 4.00GHz</li>
                        <li>Graphics Card : GeForce GTX 980</li>
                    </ul>
                </article>
            </div>
            <div class="col-md-4">
                <article>
                    <ul>
                        <li>Motherboard : Z97i-Plus</li>
                        <li>Headphone : AKG K391NC</li>
                        <li>Webcam : Logitech C920</li>
                        <li>Mic : Samson C01U</li>
                    </ul>
                </article>
            </div>
        </div>
    </div>
</section>
