
<!doctype html>
<!--[if lt IE 8]> <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9 oldie" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>CranK - Professional Starcraft Player</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <link href='http://fonts.googleapis.com/css?family=Archivo+Black' rel='stylesheet' type='text/css'>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="front/js/libs/jquery-1.7.1.min.js"><\/script>')</script>
    <script data-turbolinks-trac="true" src="//www.youtube.com/player_api"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="icon" type="image/png" href="<%= image_path('favicon.png') %>" />
    <meta name="referrer" value="origin" />
    <meta name="description" content="Choi 'CranK' Jae Won is a Protoss player from South Korea, currently signed to Axiom.">
    <meta name="keywords" content="Starcraft II, CranK, Protoss, Choi Jae Won, Axiom" />
    <meta property="og:site_name" content="CranK" />
    <meta property="og:title" content="CranK" />
    <meta property="og:image" content="http://www.gosucrank.com/<%= image_path('img-facebook.jpg') %>" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Choi 'CranK' Jae Won is a Protoss player from South Korea, currently signed to Axiom." />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="Choi 'CranK' Jae Won is a Protoss player from South Korea, currently signed to Axiom." />
</head>
<body class="<%= action_name %>">
    <%= render "header" %>
    <%= yield %>
    <%= render "footer" %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-1624062-9', 'auto');
      ga('send', 'pageview');
    </script>
    <!--[if lt IE 7 ]>
        <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
        <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
</body>
</html>
